.message 
{
	height: 100px;
	width: 100%;
	background-color: rgb(218, 255, 209);
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: 5px;
}
.message:hover 
{
	opacity: 0.6;
}
.profile-box
{
	display: flex;
	flex-direction: row;
}

.profile-box > p 
{
	color : rgba(0, 0, 1,1);
	margin-left: 2%;
}
.profile-box > p:hover
{
	color : rgba(185, 173, 255,0.9);
}

.message-image > img
{
	margin: 2px;
}

.message-image > img
{
	height: 50px;
	width: 50px;
	border: 1px solid white;
	border-radius: 60px;
	margin: 2px;
}
.message-image > img:hover
{
	opacity: 0.5;
}

.message-text
{
	background-color: rgba(210,240,240,0.9);
	overflow: hidden;
}


.message-text > p 
{
	color: black;
	margin-left: 20px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}
